# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Autotools
/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
m4
missing
stamp-h1
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
src/bin/dfym
ltmain.sh

# Mats
*~
GPATH
GRTAGS
GTAGS
GSYMS
#*
*#
build
lte_scanner/src/CellSearch
lte_scanner/tests/test_cpp
lte_scanner/tests/*.trs
lte_scanner/tests/test_peak_search
lte_scanner/tests/test_itpp
lte_scanner/tests/test_matlab_to_itpp
lte_scanner/tests/test_turbo_decoder
lte_scanner/tests/test_matlab_to_armadillo
lte_scanner/tests/test_lte_band_info
lte_scanner/tests/test_dci_1c_unpack
example/src/ls_example
lib_cellscan_tools/tests/test_exec_time_meter
lib_cellscan_tools/tests/test_save_data_to_file
lib_cellscan_tools/tests/test_scanner_data_analyser
lib_cellscan_tools/tests/test_scanner_data_analysis
doc/manual.pdf
doc/release_notes.pdf
.dirstamp
end_to_end_tests/src/end_to_end
*.trs
*.it
patches
valgrind/*.core.*
example/src/*.arm
test-driver
